.fl {
	float: left;
}

ul li{
    list-style: none;
}
.fr {
	float: right;
}

.clear {
	clear: both;
}
.pdt10{
    padding-top: 1rem;
}
.mui-bar-nav~.mui-content {
	padding-top: 0px;
}

.mui-bar {
	height: 5rem;
	background: #fff;
}

.mui-bar-nav.mui-bar .mui-icon {
	height: 5rem;
	line-height: 2rem;
	margin-right: 1rem;
}

.mui-bar-nav.mui-bar .mui-icon {
	margin-top: 1rem;
}

.mui-logo {
	margin-top: 1rem;
}

.mui-bar span {
	
	height: 1.6rem;
	float: left;
	color: #fff;
	display: block;
	text-align: center;
	line-height: 1.6rem;
	background: #626262;
	margin-top: 1.7rem;
	margin-left: 1rem;
  padding-left: 8px;
  padding-right: 8px;
	border-radius: 1rem;
}

.mui-bar .mui-title {
	margin-top: 0.2rem;
}

.mui-bar .mui-btn-link {
	color: #000;
}

.mui-slider {
	top: 5rem;
}

.tel-call h3 {
	font-size: 18px;
	color: #1563ab;
}

.link-call h3 {
	font-size: 18px;
	color: #f53b02;
}

.mui-table-view .mui-media-object {
	line-height: 22%;
	max-width: 22%;
	height: auto;
}

/* .mui-table-view-cell>a:not(.mui-btn) {
	background: #fff;
	padding: 1.5rem .3rem;
} */

.white {
	background: #fff;
	padding: 1.5rem .3rem;
}

.mui-table-view .mui-media-object.mui-pull-left {
	margin-right: 0.4rem;
}

.mui-table-view .call {
	margin: 0.3rem 0 0.3rem 0.3rem;
	box-shadow: 1px 1px 4px #888888;
}

@media (max-width: 420px) {
	.tel-call {
		width: 100%;
	}

	.link-call {
		width: 100%;
	}

	.mui-table-view-cell>a:not(.mui-btn) {
		padding: 1.5rem 1rem;
	}
}

@media (min-width: 420px) {
	.tel-call {
		width: 59%;
	}

	.link-call {
		width: 38%;
	}
}

.hetong {
	width: 50%;
	text-align: center;
	border-bottom: 1px solid #ccc;
}

.write-hetong {
	border-right: 1px solid #ccc;
}

.check-hetong {}

.guwen {
	width: 100%;
	text-align: center;
}

.guwen h3 {
	line-height: 5rem;
}

.qiye-guwen {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.geren-guwen {
	box-shadow: 1px 1px 4px #888888;
	margin-bottom: 2rem;
}

.mui-table-view-cell:after {
	background: none;
}

.news-list {
	background: #fff;
	margin-bottom: 2rem;
    box-shadow: 1px 1px 4px #888888;
}

.news-list h2 {
	text-align: center;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	line-height: 3rem;
	font-size: 1.4rem;
	border-bottom: 1px solid #ccc;

}

.news-list .mui-slider {
	top: auto;
}

.mui-fullscreen .mui-segmented-control~.mui-slider-group {
	position: initial;
	top: auto;
}

.news-list .mui-table-view-cell{
    
}
.news-list .mui-table-view-cell a{
    padding: 5px 15px;
}

#offCanvasSideScroll .title {
	color: #fff;
	margin: 35px 15px 10px;
}

.mui-control-content {
	background-color: white;
	min-height: 215px;
}

.mui-control-content .mui-loading {
	margin-top: 50px;
}

#item1mobile {
	border-bottom: 1px solid #ccc;
}

.show-more {
	line-height: 5rem;
	color: #333;
	text-align: center;
	display: block;
}

/* 推荐律师 */
.flag-lawyer{
    background: #fff;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 4px #888888;
}
.flag-lawyer h4{
    
}
.flag-lawyer a{
    padding: 1.5rem 0.5rem;
}
.flag-lawyer a{
    padding: 1.5rem 0.5rem;
}
.flag-lawyer p{
    line-height: 1.6rem;
}
.flag-lawyer .lawyer-img{
    max-width: 100px;
    height: 125px;
}
.flag-lawyer h4 i{
    width: 19px;
    height: 36px;
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    background: url(../images/flag.jpg) top -1px right no-repeat;
}
.flag-lawyer span{
    width: 70px;
    height: 25px;
    line-height: 25px;
    background: #828ea6;
    float: left;
    margin-right: 5px;
    text-align: center;
    color: #fff;
}
.flag-lawyer p.renzheng{
    width: 100%;
    padding-left: 35px;
    background: url(../images/renzheng.jpg) left center no-repeat;
}

/* 服务热线 */
.bottom{
    background: #fff;
    padding: 15px 0;
}
.bottom-con{
    text-align: center;
    width: 94%;
    line-height: 2rem;
    background: #f3f3f3;
    border-radius: 10px;
    margin: 0 auto;
    padding: 15px 0;
}
.bottom-con h4{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    line-height: 2rem;
    border: 1px solid #A0A0A0;
    border-radius: 10px;
}
.bottom-con h4 span{
    color: #ff4f01;
}
.bottom-con p span{
    color: #ff4f01;
    font-size: 20px;
}
.footer{
    margin-top: 2rem;
    padding: 15px 0;
    background: #fff;
}
.footer .login-reg{
    width: 96%;
    margin:0 auto;
}
.footer .login-reg a{
    color: #8E8E8E;
}
.foot{
    width: 96%;
    margin:0 auto;
    border: 1px solid #ccc;
    padding: 20px 0;
    margin-top: 20px;
}
.foot .foot-menu{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.foot .foot-menu a{
    color: #000;
    padding-right: 10px;
}
   
.foot .foot-logo{
    text-align: center;
    width: 100%;
    margin: 10px 0;
}
.foot .foot-ico{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.foot .foot-ico a{
    color: #000;
    padding-left: 25px;
    padding-right: 10px;
}
.foot .foot-ico a.ico1{
    background: url(../images/ico1.jpg) left center no-repeat;
}
.foot .foot-ico a.ico2{
    background: url(../images/ico2.jpg) left center no-repeat;
}
.foot .foot-ico a.ico3{
    background: url(../images/ico3.jpg) left center no-repeat;
}
.foot .foot-ico a.ico4{
    background: url(../images/ico4.jpg) left center no-repeat;
}
.foot .zixun{
    width: 80%;
    height: 2.5rem;
    line-height: 2.5rem;
    border: 1px solid #A0A0A0;
    border-radius: 2rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.foot p{
    text-align: center;
}


/* 合同列表页 */
.hetong-list{
    width: 100%;
    padding: 20px 0;
    background: #fff;
}
.nav{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.nav a{
    color: #000;
}
.service{
    width: 100%;

    margin: 10px 5px;
}
.service h4{
    float: left;
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
    padding: 0 15px;
}
.service span{
    line-height: 2.8rem;
    background: #f5f5f5;
    height: 2.8rem;
    padding: 10px;


}
.service span a{
    line-height: 2.8rem;
    height: 2.8rem;
    background: #f5f5f5;
    margin-right: 3px;
    width: 100px;
    padding: 3px 5px;
    color: #3C3C3C;
}
.service span .active{
    background: #f55f68;
}
.service span .active{
    color: #fff;
}
.hetong-list .block{
    
}
.service-block{
    cursor: pointer;
    min-width: 130px;
    float: left;
    text-align: center;
    border: 5px solid #f5f5f5;
    margin-left: 8px;
    padding: 10px;
    height: 11rem;
    margin-bottom: 10px;
}
.service-block p{
    line-height: 2rem;
}
.service-block h4{
    line-height: 2rem;
    max-width: 100px;

}
.service-block strong{
    color: #e5483f;
}
.service-block span{
    width: 90px;
    font-size: 14px;
    height: 28px;
    margin: 0 auto;
    line-height: 28px;
    color: #e5483f;
    border-radius: 2px;
    display: block;
    border: 1px solid #e5483f;
    
}
.service-block span:hover{
    background: #e5483f;
    color: #fff;
}


/* 电话问律师文章页 */
.phone-ask{
    
}
.big-img{
    width: 100%;
    height: auto;
}
.services{
    
    text-align: center;
    
    margin-top: 1rem;
}
.services img{
    width: 100%;
    height: auto;
    margin-top: 2rem;
}
.services h3{
    margin-top: 1rem;
}
.services span{
    width: 40px;
    height: 4px;
    background: #f35437;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
    
}
.liucheng{
    width: 90%;
    margin: 0 auto;
    background: #eceaeb;
    padding: 0px 0.5rem;
    padding-top: 1rem;
}
.shuoming{
    width: 100%;
    background: #fff;
}
.changjian{
    background: url(../images/cjbg.jpg) repeat;
    padding: 2rem 1rem;
}
.changjian h4{
    background: url(../images/cjbg.jpg) repeat;
    text-align: left;
    padding-top: 1rem;
}
.changjian p{
    text-align: left;
    padding-bottom: 1rem;
}
.services .show_more{
    color: #969696;
    margin-bottom: 4rem;
}

.buy{
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    color: #fff;
    display: block;
    background:#f33a01;
    z-index: 9999999;
    
}
.buy a{
    color: #fff;
    float: left;
    height: 3rem;
    line-height: 3rem;
    font-weight: bold;
}
.buy input {
    color: #fff;
    float: left;
    height: 2rem;
    line-height: 2rem;
    font-weight: bold;
    font-size: 16px;
}
.buy .call{
    width: 45%;
    background: url(../images/call.jpg) left 9% center no-repeat #ffa904;
    padding-left: 12%;
}
.buy .buynow{
    width: 53%;
    background: #f33a01;
    text-align: center;
}

/* 企业法律顾问文章页 */
.qiyeguwen{
    background: #fff;
    
}
.qiyeguwen .guwen-title{
    width: 100%;
    text-align: left;
    color: #f43a00;
    margin-left: 10px;
    height: 4rem;
    line-height: 4rem;
    border-bottom: 1px solid #c9c9c9;
    margin-bottom: 1rem;
}
.qiyeguwen .guwen-title h3{
    width: 149px;
    height: 4rem;
    line-height: 4rem;
    border-bottom: 4px solid #f33a01;
}
.qiyeguwen span{
    width: 60px;
    background: #b8b8b8;
}
.qiyeguwen .liucheng{
    width: 98%;
    background: #fff;
    padding:0;
}
.qiyeguwen .mui-media-body{
    height: auto;
    line-height: normal;
}
.qiyeguwen dl{
    width: 100%;
}

.qiyeguwen dl dd{
    width: 46%;
    height: 180px;
    float: left;
    background: #fff;
    margin: 15px 0px 0px 10px;
    padding: 10px 5px;
    text-align: center;
}

.qiyeguwen .changjian h4{
    background: none;
    padding: 0px;
    text-align: center;
}
.qiyeguwen dl dd p{
    text-align: center;
    line-height: 16px;
    height: 16px;
}

/* 在线咨询页面 */
.ask{
    background: #fff;
}
.lvshizhinan-body .lszn-lm-inner {
    overflow: hidden;
    padding-left: 30px;
    padding-right: 38px;
    margin-bottom: 17px;
}
.lvshizhinan-body .lm-kuai {
    background: #fafafa;
    border: #ededed 1px solid;
    width: 150px;
    height: 46px;
    display: block;
    text-align: center;
    line-height: 46px;
    float: left;
    margin-right: 5px;
    margin-bottom: 20px;
    color: #8c8a8a;
}
.lvshizhinan-body .lanse {
    color: #12b6cf;
    box-shadow: darkgrey 2px 2px 5px 2px;
    border: 1px solid #f23b01;
    background: url(../images/yes.png) right bottom no-repeat;
}
.lvshizhinan-body .lm-kuai .tubiao {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: 30px auto;
    background-repeat: no-repeat;
    margin-right: 5px;
    position: relative;
    top: 7px;
}
.lvshizhinan-body .lm-kuai .tubiao img {
    width: 100%;
    vertical-align: initial;
}
.p-r {
    position: relative;
}
.ask-pay-bar {
    margin-top: 10px;
    width: 100%;
    height: 54px;
    top: 200px;
    right: 0;
}
.changprice p {
    font-size: 28px;
    color: red;
    display: inline;
}
.changprice span {
    font-size: 28px;
    color: red;
}
.ask-pay-bar .topic {
    width: 100%;
    margin: 20px 0px;
    display: block;
    float: left;
}
.ask-pay-bar .topic span {
    width: 140px;
    height: 35px;
    line-height: 35px;
    float: left;
    display: block;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #f23b01;
    margin-left: 5px;
    margin-bottom: 20px;
}
.ask-pay-bar .topic span.active, .ask-pay-bar .topic span:hover {
    box-shadow: darkgrey 2px 2px 5px 2px;
    background: url(../images/yes.png) right bottom no-repeat;
}
.ask-pay-bar .topic span h5 {
    display: inline;
    font-size: 16px;
    color: #28b6ce;
}
.qnas-box{
    margin-left: 10px;
}

/* 购物车页面 */
.car{
  background: #fff;
}
.car h4{
  padding: 10px;
}
.r-jiage h3{
    line-height: 30px;
}
#formcar h4{
    text-align: left;
    padding: 10px 20px;
}
.ddgb-zf-xuanzhe {
    overflow: hidden;
    border-top: 2px solid #7eabfd;
    padding-top: 30px;
    margin-bottom: 20px;
}
.ddgb-zf-xuanzhe .zf-xz-inner {
    float: left;
    margin-right: 30px;
    position: relative;
    z-index: 2;
    background: #fff;
}
.ddgb-zf-xuanzhe .zf-xz-inner .guanlian {
    min-width: 252px;
    padding: 0 10px;
    height: 37px;
    border: 1px solid #dcdcdc;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    display: block;
    font-size: 14px;
}
.ddgb-zf-xuanzhe .zf-xz-inner-cheng .guanlian {
    background: url(../images/jiajic.png) no-repeat right 0 bottom 0;
    border: 1px solid #ff9242;
    color: #ff9242;
}
.ddgb-zf-xuanzhe .zf-xz-inner {
    float: left;
    margin-right: 30px;
    position: relative;
    z-index: 2;
    background: #fff;
}
.ddgb-zf-xuanzhe .zf-xz-inner:nth-last-of-type(1) {
    margin-right: 0;
}
.article-con{
  background: #fff;
}
.article-con h3{
  padding: 10px 15px;
}
.art-content{
  line-height: 30px;
  padding: 10px 5px;
}
.art-content img{
  max-width: 100%;
  height: auto;
}

/* 会员 */
.login h3{
  text-align: center;
  line-height: 30px;
  height: 50px;
  padding: 10px;
}
.mui-content-padded{
  text-align: center;
}